<h1><%= @project.title %></h1>
<p>by <%= @project.user.username %></p>

<p><%= @project.content %></p>

<p>
  <%= link_to "Edit Project", edit_project_path, class: "btn btn-primary" %>
  <%= link_to "Delete Project", project_path(@project), class: "btn btn-danger", method: :delete %>
</p>